In [112]:
import pandas as pd
import numpy as np

In [106]:
id = [i for i in range(1, 2001)]

np.random.seed(42) # controlled randomness

jenisKelamin = [np.random.choice(['pria', 'wanita']) for i in range(2000)]
sudahMenikah = [np.random.choice(['tidak'] + ['ya'] * 20) for i in range(2000)]
melampirkanKTP = [np.random.choice(['tidak'] + ['ya'] * 20) for i in range(2000)]
penghasilanPerBulan = [np.random.randint(10, 100) * 1_000_000 for i in range(2000)]
pengeluaranPerBulan = [np.random.randint(10, 100) * 1_000_000 for i in range(2000)]
jumlahPinjaman = [np.random.randint(1, 6) * 1_000_000 for i in range(2000)]

pinjamanDiTerima = []
for i in range(2000):
    if (sudahMenikah[i] == 'ya') and (melampirkanKTP[i] == 'ya') and (jumlahPinjaman[i] <= (penghasilanPerBulan[i] - pengeluaranPerBulan[i])):
        pinjamanDiTerima.append(1)
    else:
        pinjamanDiTerima.append(0)

In [107]:
data = {
    'id' : id,
    'jenisKelamin' : jenisKelamin,
    'sudahMenikah' : sudahMenikah,
    'melampirkanKTP' : melampirkanKTP,
    'penghasilanPerBulan' : penghasilanPerBulan,
    'pengeluaranPerBulan' : pengeluaranPerBulan,
    'jumlahPinjaman' : jumlahPinjaman,
    'pinjamanDiTerima' : pinjamanDiTerima
}

df = pd.DataFrame(data)
df.head()

,id,jenisKelamin,sudahMenikah,melampirkanKTP,penghasilanPerBulan,pengeluaranPerBulan,jumlahPinjaman,pinjamanDiTerima
0,1,pria,ya,ya,56000000,97000000,1000000,0
1,2,wanita,ya,ya,46000000,78000000,5000000,0
2,3,pria,ya,ya,89000000,93000000,3000000,0
3,4,pria,ya,ya,31000000,48000000,4000000,0
4,5,pria,ya,ya,66000000,22000000,3000000,1

In [108]:
df[df.penghasilanPerBulan - df['pengeluaranPerBulan'] < 0]

,id,jenisKelamin,sudahMenikah,melampirkanKTP,penghasilanPerBulan,pengeluaranPerBulan,jumlahPinjaman,pinjamanDiTerima
0,1,pria,ya,ya,56000000,97000000,1000000,0
1,2,wanita,ya,ya,46000000,78000000,5000000,0
2,3,pria,ya,ya,89000000,93000000,3000000,0
3,4,pria,ya,ya,31000000,48000000,4000000,0
6,7,pria,ya,ya,36000000,66000000,4000000,0
...,...,...,...,...,...,...,...,...
1984,1985,wanita,ya,ya,26000000,75000000,1000000,0
1985,1986,wanita,ya,ya,45000000,84000000,4000000,0
1987,1988,wanita,ya,ya,11000000,76000000,4000000,0
1994,1995,pria,ya,ya,31000000,63000000,2000000,0
1999,2000,pria,ya,ya,21000000,91000000,4000000,0

In [109]:
df['pinjamanDiTerima'].value_counts()

pinjamanDiTerima
0    1120
1     880
Name: count, dtype: int64

In [116]:
df.to_csv('./dataset/datasetPinjaman.csv', index = False)